{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Estoque Farmacia</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> <!-- link para o css -->

</head>
<body>
    <h1 class="titulo">Produtos de Estoque</h1>

    <!-- Tabela -->
    <table>
        <caption>Titulo</caption> <!-- Titulo da tabela -->
        <thead class="cabecalho">
            <th>Produtos</th>
            <th>Preço</th>
            <th>Código</th>
        </thead>

        <!-- Loop for -->
        <tbody class="linhas">
            {% for dados in nome %}
                <tr>
                    <td>{{ dados.produto }}</td>
                    <td>{{ dados.preco }}</td>
                    <td>{{ dados.codigo_produto }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- Botões -->
    <div id="botao">
        <button class="btn1" type="button" onclick="teste()">Clique</button>
    </div>

    <div id="resultado">resultado</div>

    <!-- Caixa de texto enviando os dados para o views -->
    <form method="POST" action="">
        {% csrf_token %}
        Nome completo:<br>
        <input type="text" name="nome" maxlength="100" required=""><br> Sexo:

        <br>
        <input type="radio" name="genero" value="masculino" checked> Masculino
        <input type="radio" name="genero" value="feminino"> Feminino<br> e-mail:
      
        <br>
        <input type="email" name="e-mail" maxlength="50" required=""><br> Telefone:
      
        <br>
        <input type="tel" name="telefone" maxlength="30" required=""><br>
      
        <input type="submit">
      
      </form>


    <input type="text" placeholder="Digite algo" id="texto">

    <!-- Função js -->
    <script src="{% static 'js/js.js' %}"></script>

</body>
</html>