{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Estoque Infor</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Informações sobre a pagina</h1>
        {% bootstrap_messages %}

        <form action="{% url 'infor' %}" method="post" class="form" autocapitalize="off">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar dados</button>            
            {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>